[submodule "deps/libtommath"]
	path = deps/libtommath
	url = https://github.com/libtom/libtommath.git
	branch = develop
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
	branch = develop
[submodule "deps/GSL"]
	path = deps/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "deps/libtomcrypt"]
	path = deps/libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
	branch = develop
[submodule "deps/curl"]
	path = deps/curl
	url = https://github.com/curl/curl.git
	branch = curl-8_0_1
